@import 'tailwindcss';

.tool-card {
    background-color: white;
}

.tool-item {
    cursor: pointer;
    transition: background-color 0.15s, transform 0.1s;
}

.tool-item:hover {
    background-color: #eef2ff;
    transform: translateX(2px);
}
.category-header {
    border-left: 5px solid;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

input[type='range']::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 rounded-full cursor-pointer;
}

input[type='range']::-moz-range-thumb {
    @apply w-4 h-4 rounded-full cursor-pointer;
}
